<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
</head>

<body>
  <%-include('navbar') %>
    <div class="container mt-5">
      <div class="p-lg-5 p-sm-2">
        <h1 class="lh-lg">營業人資料</h1>
        <form name="companyinfo">
          <table id="details" class="w-100 table">
            <tbody>
              <tr>
                <td class="p-2">公司名稱<label class="text-danger">*</label></td>
                <td class="p-2">
                  <input id="name" type="text" class="form-control">
                </td>
                <td class="p-2">負責人</td>
                <td class="p-2">
                  <input id="personInCharge" type="text" class="form-control">
                </td>
              </tr>
              <tr>
                <td class="p-2">統一編號<label class="text-danger">*</label></td>
                <td class="p-2">
                  <input id="unum" type="text" class="form-control">
                </td>
                <td class="p-2">稅籍編號</td>
                <td class="p-2">
                  <input id="taxId" type="text" class="form-control">
                </td>
              </tr>
              <tr>
                <td class="p-2">公司地址</td>
                <td class="p-2" colspan="3">
                  <input id="companyAddress" type="text" class="form-control" maxlength="100"
                    placeholder="請填寫電子發票整合服務平台上的申請地址">
                </td>
              </tr>
              <tr>
                <td class="p-2">通訊地址</td>
                <td class="p-2" colspan="3">
                  <input class="form-check-input mr-2" id="setAddress" type="checkbox" onclick="setAddr()">
                  <label for="setAddress">同上方公司地址</label><br>
                  <input id="connectionAddress" type="text" class="form-control" maxlength="100" placeholder="">
                </td>
              </tr>
              <tr>
                <td class="p-2">公司電話</td>
                <td class="p-2">
                  <input id="tel" type="text" class="form-control" placeholder="格式(ex:0226551188)">
                </td>
                <td class="p-2">傳真電話</td>
                <td class="p-2">
                  <input id="facsimileNumber" type="text" class="form-control" placeholder="格式(ex:0226551188)">
                </td>
              </tr>
              <tr>
                <td class="p-2">Email</td>
                <td class="p-2">
                  <input id="email" type="text" class="form-control">
                </td>
                <td class="p-2">備註</td>
                <td class="p-2">
                  <input id="roleremark" type="text" class="form-control">
                </td>
              </tr>
              <tr>
                <td class="py-3" colspan="4">
                  <h3>發票抬頭設定</h3>
                </td>
              </tr>
              <tr>
                <td class="py-2" colspan="4">
                  <div class="py-1">
                    <input class="form-check-input" type="radio" id="s1" name="type" value="1"
                      onchange="changeType();" checked>
                    <label class="form-check-label" for="s1">公司名稱</label>
                  </div>
                  <div class="py-1">
                    <input class="form-check-input" type="radio" id="s2" name="type" value="2"
                      onchange="changeType();">
                    <label class="form-check-label" for="s2">企業識別標章</label>
                    <div class="input-group my-2">
                      <input type="file" class="form-control" id="inputFile" onchange="readimg()">
                      <img id="inputImg" src="" alt="" onclick="changimg()">
                    </div>
                  </div>
                  <div class="py-1">
                    <input class="form-check-input" type="radio" id="s3" name="type" value="3"
                      onchange="changeType();">
                    <label class="form-check-label" for="s3">自訂顯示名稱</label>
                    <input class="form-control" id="customName" type="text">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <br>
        <button class="btn btn-outline-primary btn-lg" onclick="saveCompany()">儲存</button>
        <br>
      </div>
    </div>
</body>
</html>