<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
</head>

<body>
  <%-include('navbar') %>
    <%-include('modal') %>
      <div class="container mt-5">
        <div class="content p-lg-5 p-sm-2">
          <h1 class="lh-lg">客戶資訊</h1>
          <h3>客戶搜尋</h3>
          <div class="input-group mb-3">
            <input id="customerCondition" type="text" class="form-control p-2" placeholder="關聯搜尋，姓名、電話號碼、手機號碼、統一編號、註記"
              aria-label="Recipient's username" aria-describedby="searchBtn">
            <button class="btn btn-outline-primary" type="button" id="searchBtn" data-bs-toggle="modal"
              data-bs-target="#exampleModal" onclick="searchCustomer('setting')">搜尋</button>
          </div>

          <div id="datatable">
            <table class="table">
              <tbody>
                <tr>
                  <td class="p-2">客戶id</td>
                  <td class="p-2" colspan="3">
                    <div class="input-group flex-nowrap">
                      <input id="id" type="text" class="form-control" placeholder="代表要修改的id，空白代表新增新" disabled>
                      <button class="btn btn-outline-secondary" type="button" onclick="setCustomer()">清空欄位</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <input id="buyeruuid" type="hidden">
                  <td class="p-2">名稱<label class="text-danger">*</label></td>
                  <td>
                    <input id="name" type="text" class="form-control">
                  </td>
                  <td class="p-2">統一編號</td>
                  <td>
                    <input id="unum" type="text" class="form-control">
                  </td>
                </tr>
                <tr>
                  <td class="p-2">手機號碼<label class="text-danger">*</label></td>
                  <td>
                    <input id="mobile" type="text" class="form-control">
                  </td>
                  <td class="p-2">註記</td>
                  <td>
                    <input id="roleremark" type="text" class="form-control">
                  </td>
                </tr>
                <tr>
                  <td class="p-2">發票接收方式</label></td>
                  <td colspan="3">
                    <input class="form-check-input mr-2" type="radio" name="type" id="useentity" value="0" checked onclick="handleCollapse()">
                    <label for="useentity">寄送紙本發票</label>
                    <input class="form-check-input mr-2" type="radio" name="type" id="useemail" value="1" onclick="handleCollapse()">
                    <label for="useemail">email</label>
                    <input class="form-check-input mr-2" type="radio" name="type" id="usecarrier" value="2" onclick="handleCollapse()">
                    <label for="usecarrier">使用載具</label>
                    <input class="form-check-input mr-2" type="radio" name="type" id="usemember" value="3" onclick="handleCollapse()">
                    <label for="usemember">會員載具</label>
                    <input class="form-check-input mr-2" type="radio" name="type" id="donatemark" value="4" onclick="handleCollapse()">
                    <label for="donatemark">捐贈</label>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-body-tertiary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    紙本發票寄送資訊
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="input-group m-1">
                      <span class="input-group-text bg-dark-subtle" style="width: 100px;">收件人</span>
                      <input type="text" class="form-control" id="recipient">
                    </div>
                    <div class="input-group m-1">
                      <span class="input-group-text bg-dark-subtle" style="width: 100px;">電話號碼</span>
                      <input type="text" class="form-control" id="tel">
                    </div>
                    <div class="input-group m-1">
                      <span class="input-group-text bg-dark-subtle" style="width: 100px;">地址</span>
                      <input type="text" class="form-control" id="address">
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-body-tertiary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    E-mail
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="input-group m-1">
                      <span class="input-group-text bg-dark-subtle" style="width: 100px;">電子郵件</span>
                      <input type="email" class="form-control" id="email">
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-body-tertiary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    載具資訊
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="input-group m-1">
                      <span class="input-group-text bg-dark-subtle" style="width: 100px;">載具條碼</span>
                      <input type="text" class="form-control" id="carrierid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-body-tertiary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    會員資訊
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="input-group m-1">
                      <span class="input-group-text bg-dark-subtle" style="width: 100px;">會員編號</span>
                      <input type="text" class="form-control" id="memberid">
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button bg-body-tertiary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    捐贈資訊
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="input-group m-1">
                      <span class="input-group-text bg-dark-subtle" style="width: 100px;">捐贈碼</span>
                      <input type="text" class="form-control" id="npoban">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-primary" id="savecustomer" onclick="saveCustomer()">儲存</button>
            <button class="btn btn-outline-danger" id="deletecustomer" onclick="deleteCustomer()">刪除</button>
          </div>
        </div>
      </div>
      </div>
</body>

</html>