<!DOCTYPE html>
<html>

<head>
  <%-include('head') %>
</head>

<body style="display: none;">
  <div class="container mt-5 p-5">
    <h1>電子發票平台</h1>
    <div class="mx-auto align-middle">
      <div class="mb-3">
        <label for="user" class="form-label">帳號</label>
        <input type="email" class="form-control" id="user" aria-describedby="emailHelp" placeholder="員工名稱" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">密碼</label>
        <input type="password" class="form-control" id="password" placeholder="注意密碼是區分大小寫的" />
      </div>
      <button id="submit" type="submit" class="btn btn-primary" onclick="userLogin()">
        登入
      </button>
      <button id="submit" type="submit" class="btn btn-outline-info" onclick="adminLogin()">訪客查看</button>
    </div>
  </div>
</body>
<h1>此為測試網站，請勿輸入敏感資訊....</h1>
<%-include('alert') %>

</html>