<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithProducts"
  aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 60vw;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">產品列表</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="fs-3 fw-bold text-center" id="errorMsg"></div>
    <div id="collapseInfo"></div>
  </div>
</div>