<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
</head>

<body>
  <%-include('navbar') %>
    <%-include('productsList') %>
      <div class="container mt-5">
        <div class="p-lg-5 p-sm-2">
          <h1 class="lh-lg">產品資訊</h1>
          <div class="d-flex">
            <button class="btn btn-outline-info me-2" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasWithProducts" aria-controls="offcanvasWithProducts">產品➤</button>
            <div class="w-100">
              <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#change">修改類別名稱</button>
              <div class="mt-4" id="datatable">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="p-2">產品id</td>
                      <td class="p-2" colspan="3">
                        <div class="input-group flex-nowrap">
                          <input id="id" type="text" class="form-control" placeholder="代表要修改的id，空白代表新增新" disabled>
                          <button class="btn btn-outline-secondary" type="button" onclick="setProduct()">清空欄位</button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-2">名稱<label class="text-danger">*</label></td>
                      <td class="p-2">
                        <input id="name" type="text" class="form-control">
                        <input id="uuid" type="hidden">
                      </td>
                      <td class="p-2">類別<label class="text-danger">*</label></td>
                      <td class="p-2">
                        <input id="category" type="text" class="form-control" list="typelist">
                        <datalist id="typelist">
                        </datalist>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-2">編號</td>
                      <td class="p-2">
                        <input id="no" type="text" class="form-control">
                      </td>
                      <td class="p-2">條碼</td>
                      <td class="p-2">
                        <input id="barcode" type="text" class="form-control">
                      </td>
                    </tr>
                    <tr>
                      <td class="p-2">單價<label class="text-danger">*</label></td>
                      <td class="p-2">
                        <input id="price" type="text" class="form-control">
                        <div style="color: red;">單價為含稅的價錢</div>
                      </td>
                      <td class="p-2">單位</td>
                      <td class="p-2">
                        <input id="unit" type="text" class="form-control">
                      </td>
                    </tr>
                    <tr>
                      <td class="p-2">備註</td>
                      <td class="p-2" colspan="3">
                        <input id="remark" type="text" class="form-control">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <button id="submitbtn" class="btn btn-outline-primary" onclick="saveProduct()">儲存</button>
                <button class="btn btn-outline-danger" onclick="deleteProduct()">刪除</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
<!-- Modal -->
<div class="modal fade" id="change" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">修改類別名稱</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <select id="typelist2" class="form-select">
          </select>
          <span class="input-group-text">➜</span>
          <input id="newName" type="text" class="form-control" placeholder="請輸入欲修改的名稱">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="changeCategory()">修改</button>
      </div>
    </div>
  </div>
</div>

</html>