<!DOCTYPE html>
<html lang="en">

<head>
	<%-include('head') %>
</head>

<body>
	<%-include('navbar') %>
		<div class="container mt-5">
			<div class="content p-lg-5 p-sm-2">
				<h1 class="lh-lg">發票列表</h1>
				<div class="d-lg-flex">
					<div class="input-group p-1 w-100">
						<input id="start" type="date" class="form-control p-2">
						<span class="input-group-text">~</span>
						<input id="due" type="date" class="form-control p-2">
					</div>
					<div class="btn-group p-1 w-100" role="group" aria-label="Basic outlined example">
						<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
						<label class="btn btn-outline-secondary" for="btnradio1">全部發票</label>
						<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
						<label class="btn btn-outline-secondary" for="btnradio2">已作廢發票</label>
						<input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
						<label class="btn btn-outline-secondary" for="btnradio3">有折讓發票</label>
					</div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>發票號碼</th>
							<th>發票日期</th>
							<th>狀態</th>
							<th>銷售額</th>
							<th>稅額</th>
						</tr>
					</thead>
					<tbody class="invoiceList">
						<tr>
							<td><a href="">AS12345678</a></td>
							<td>AS12345678</td>
							<td>AS12345678</td>
							<td>AS12345678</td>
							<td>AS12345678</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
</body>

</html>