<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
</head>

<body>
  <%-include('navbar') %>
    <%-include('modal') %>
      <div class="container mt-5">
        <div class="content p-lg-5 p-sm-2">
          <h1 class="lh-lg">票軌資訊</h1>
          <table class="table table-hover --bs-table-active-bg text-center">
            <thead class="table-dark">
              <tr>
                <th scope="col"><input class="form-check-input me-1" id="allcheck" type="checkbox"
                    onclick="allselect()"><label for="allcheck">全選</label></th>
                <th scope="col">發票代號/發票類別</th>
                <th scope="col">發票期別</th>
                <th scope="col">字軌名稱</th>
                <th scope="col">發票起號</th>
                <th scope="col">發票迄號</th>
                <th scope="col">已使用到票號</th>
                <th scope="col">狀態</th>
              </tr>
            </thead>
            <tbody id="trackBody">
            </tbody>
          </table>
          <div class="mb-2 text-primary">
            <input type="file" class="form-control d-none" id="fileInput" accept=".csv" onchange="csvtojson()">
            <svg role="button" onclick="addItem()" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
              fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
          </div>
        </div>
      </div>
      <button id="offcanvas" class="btn btn-primary d-none" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"></button>

      <div style="height: 40vb;" class="offcanvas offcanvas-bottom" data-bs-backdrop="static" tabindex="-1"
        id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasBottomLabel">匯入票匭</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
            onclick="clearFileInput()"></button>
        </div>
        <div class="offcanvas-body position-relative" id="fileInfo">

        </div>
      </div>
</body>

</html>