<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('head') %>
</head>

<body class="p-5">
    <h1>Turnkey 上傳檔案 XML 樣本</h1>
    <textarea id="XML" class="w-100" style="height: 50vh;"></textarea>
</body>
</html>