body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.collapseText:hover {
  color: #00B7FF;
}

.table-hover tbody tr:hover {
  cursor: pointer;
  background-color: #2fd469 !important; /* 沒有作用，先放著 */
}

#successAlert, #errorAlert, #warningAlert, #invoiceAlert {
  position: fixed;
  transition: top 0.5s ease; /* 使用 transition 控制動畫效果 */
  top: -100%;
  left: 50%;
  transform: translate(-50%);
}