body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.collapseText:hover {
  color: #00B7FF;
}

.table-hover tbody tr:hover {
  background-color: #ffcccc; /* 你希望的顏色 */
}